
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.project-1 {
    color: orange;
    top: 25vh;
    width: 33%;
    background-color: green;
}

.project-2 {
    color: blue;
    top: 45vh;
    width: 33%;
    background-color: yellow;
}

.project-3 {
    color: black;
    top: 65vh;
    width: 33%;
    background-color: purple;
}

header {
    display: flex;
    align-items: right;
    background-color: white;
    height: 50%;
}

.nav_links {
    list-style: none;
    position: fixed;
    margin: 50px;
    top: 0;
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding :10px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    color: white;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);

}

h1 {
    font-size: 40px;
    color: #A75037;
    align-items: center;
    text-align: center;
    padding: 50px;
    position: absolute;
    margin-left: 720px;
    margin-top: 110px;

}

h3 {
    color: #6F3B48;
    font-size: 60px;
    align-items: center;
    text-align: center;
    padding: 5px;
    position: absolute;
    margin-left: 750px;
    margin-top: 250px;

}



#footer {    
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
}

.link {
    color: black;
}

.link:hover {
    color: blue;
}